{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

  <title>Simon Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Original+Surfer&effect=emboss' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesSim.css' %}">

  <audio id="clip1">
  	<source src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></source>
  </audio>
  <audio id="clip2">
  	<source src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></source>
  </audio>
  <audio id="clip3">
  	<source src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></source>
  </audio>
  <audio id="clip4">
  	<source src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></source>
  </audio>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/e/antemiaa/">Simon Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/e/antemiaa/">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="/e/antemiaa/about">Game</a>
              <a class="nav-item nav-link" href="/e/antemiaa/profile">Profile</a>
              <a class="nav-item nav-link" href="/e/antemiaa/logout/">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="/e/antemiaa/login/">Login</a>
              <a class="nav-item nav-link" href="/e/antemiaa/register">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id="outer-circle">
    <div id="topleft"></div>
    <div id="topright"></div>
    <div id="bottomleft"></div>
    <div id="bottomright"></div>
    <div id="inner-circle">
      <div id="title" class="font-effect-emboss">SIMON!</div>
      <div id="switches">
        <input type="checkbox" class="toggle" id="on">
        <button class="button" id="start">Start</button>
      </div>
      <div class="text1">
        <span>POWER</span>
      </div>
      <div id="turn"></div>
      <div class="text2">
        COUNT
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script  src="{% static 'index.js' %}"></script>

</body>
</html>
